
    $main-font: 'Open Sans', sans-serif;
    $third-color:#ef5b4c;
    $secondary-color:#007bff;
    $primary-background:#ffffff;
    $secondary-background:#f9f9f3;
    $primary-color:#000000;
    $secondary-color:#f9f9f3;
  