.wrap {
    width: 330px;
    margin: 0 auto;

    &__caption {
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 30px;
    }
}

.section__img {
    margin-bottom: 26px;
    width: 306px;
}

.info-section {
    &__title {
        font-weight: 300;
        font-size: 22px;
        line-height: 29px;
        margin-bottom: 19px;
        letter-spacing: 0.7px;
    }

    &__description {
        text-align: justify;
        color: #726e6e;
        margin-bottom: 26px;
    }

    &__btn {
        color: var(--third-color);
        margin-bottom: 75px;
        cursor: pointer;
        outline: none;
    }
}

@media (min-width: 768px) {

    .wrap {
        width: 710px;

        &__caption {
            letter-spacing: -1px;
            font-size: 40px;
            line-height: 44px;
            margin-bottom: 67px;
        }
    }

    .section__boxTablet {
        display: flex;
        text-align: left;
    }

    .section__boxImage {
        width: 1000px;
        margin-right: 34px;
    }

    .section__img {
        margin: 0;
    }

    .info-section__btn {
        margin-bottom: 115px;
    }
}

@media (min-width: 1170px) {

    .wrap {
        width: 985px;
    

    &__caption {
        letter-spacing: -1px;
        font-size: 50px;
        line-height: 54px;
        margin-bottom: 67px;
    }
    }
    .section__img {
        width: 377px;
    }

    .section__boxImage {
        width: 1235px;
    }

    .info-section__btn {
        margin-bottom: 155px;
    }
}